
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image:url(../images/netflix21.jpg);

  position: fixed;
  margin-left: 15%;
  margin-top: 27px;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  background-color: red;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.pieza{
  height: 33.333%;
  width: 33.333%;
  float: left;
}
.pieza img{
  width: 100%;
  border: 1px;
}
#juego{

    height: 600px;
    width: 600px;
    margin: 0px;

}
#imgref{
  height: 200px;
  width: 200px;
}
#titulo{
}
#instrucciones{
}
